body {
  color: blue;
  font-size: 32px;

}

span {
  font-size: 15px;

  @media (min-width: 768px) {
    font-size: 25px;
  }
}

div {
  font-size: 25px;

  @media (min-width: 768px) {
    font-size: 52px;
  }
}

img {
  width: 100%;
}