body {
  color: blue;
  font-size: 32px;

}

span {
  font-size: 15px;

  @media (min-width: 768px) {
    font-size: 25px;
  }
}

div {
  font-size: 25px;

  @media (min-width: 768px) {
    font-size: 52px;
  }
}



.webp div {
  background: url("../img/image.webp") 0 0 no-repeat;
}

.no-webp div {
  background: url("../img/image.jpg") 0 0 no-repeat;
}