// Подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

body {
  color: red;
  font-size: 32px;
}

span {
  font-size: 15px;

  @media (min-width: 768px) {
    font-size: 25px;
  }
}

div {
  font-size: 25px;

  @media (min-width: 768px) {
    font-size: 52px;
  }
}



.webp div {
  background: url("../img/image.webp") 0 0 no-repeat;
}

.no-webp div {
  background: url("../img/image.jpg") 0 0 no-repeat;
}